<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <property>
        <name>fs.default.name</name>
        <value>hdfs://{{ hostvars.localhost.spark_master.tagged_instances[0].private_ip }}:9000</value>
    </property>
</configuration>
