<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
    <property>
      <name>hbase.cluster.distributed</name>
      <value>true</value>
    </property>
    <property>
        <name>hbase.rootdir</name>
        <value>hdfs://{{ hostvars.localhost.spark_master.tagged_instances[0].private_ip }}:9000/hbase</value>
    </property>
    <property>
        <name>hbase.zookeeper.quorum</name>
        <value>{{ hostvars.localhost.spark_master.tagged_instances[0].private_ip }}</value>
    </property>
    <property>
        <name>hbase.zookeeper.property.dataDir</name>
        <value>/usr/local/zookeeper</value>
    </property>
</configuration>