# Spark masters (as slaves) list
{{ hostvars.localhost.spark_master.tagged_instances[0].public_dns_name }}

# Spark slaves list
{% for host in hostvars.localhost.spark_slave.tagged_instances %}
{{ host.public_dns_name }}
{% endfor %}
