#!/usr/bin/env bash

export JAVA_HOME="/usr/lib/jvm/java-8-oracle"
export HADOOP_CONF_DIR="{{ hadoop_root }}/etc/hadoop"
# export SPARK_MASTER_IP="{{ hostvars.localhost.spark_master.tagged_instances[0].public_dns_name }}"
# export SPARK_WORKER_PORT=" spark_worker_port "

# The following line is intentionally left blank
